<ul>
    <li>Rock beats Scissors -> Rock crushes Scissors</li>
    <li>Rock beats Lizard -> Rock smashes lizard</li>
    <li>Scissors beats Paper -> Scissors cuts Paper</li>
    <li>Scissors beats Lizard -> Scissors decapitates Lizard</li>
    <li>Paper beats Rock -> Paper covers Rock</li>
    <li>Paper beats Spock -> Paper disproves Spock</li>
    <li>Lizard beats Paper -> Lizard eats Paper</li>
    <li>Lizard beats Spock -> Lizard poisons Spock</li>
    <li>Spock beats scissors -> Spock smashes Scissors</li>
    <li>Spock beats Rock -> Spock vaporizes Rock</li>
</ul>
<div class="rps__image">
    <img src="assets/rpsls.png" alt="Rock Paper Scissors">
</div>